@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>KEUZETEST</h1>
    <p class="lead">Een project van Samenlevingsopbouw vzw en Team P</p>
    <p><a href="@Url.Action("Test","Test")" class="btn btn-primary btn-lg">Start de test &raquo;</a></p>
</div>
