body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.admin {
    margin-left: 200px;
    padding-left: 10px;
    width: 80%;
}

.row {
    margin: 0;   
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.btn-primary {
    background: transparent;
    color: black;
}
i {
    margin-right: 10px;
}
.navbar-fixed-left {
  width: 200px;
  position: fixed;
  border-radius: 0;
  height: 100%;
}

.navbar-fixed-left img {
    margin: 10%
}

.navbar-fixed-left h3 {
    color: gray;
    margin: 5px;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 199px;
}

.navbar-fixed-left + .container {
  padding-left: 160px;
}

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-top: 5px;
  margin-left: 10px;
}
.panelitem {
    background-color: #EDEDED;
    height: 250px;
    margin: 10px;
}
.panelitem img {
    width: 100%;
    height: 66%;
    margin-top: 10px;
}
.panelitem h3 {
    text-align: center;
}