@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="admin">
    <h2>Startpagina</h2>
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-7 col-xs-6 panelitem">
            <img src="http://placehold.it/250x150">
            <h3>Personavragen</h3>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-7 col-xs-6 panelitem">
            <img src="http://placehold.it/250x150">
            <h3>Testvragen</h3>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-7 col-xs-6 panelitem">
            <img src="http://placehold.it/250x150">
            <h3>Gebruikers</h3>
        </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-7 col-xs-6 panelitem">
                <img src="http://placehold.it/250x150">
                <h3>Thema's</h3>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-7 col-xs-6 panelitem">
                <img src="http://placehold.it/250x150">
                <h3>Lay-out</h3>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-7 col-xs-6 panelitem">
                <img src="http://placehold.it/250x150">
                <h3>Log-out</h3>
            </div>
        </div>
    </div>
